<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Default" connectionString="Server=.; Database=d1; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  <add name="Default2" connectionString="Server=.; Database=d2; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
</connectionStrings>
